main{
    background-image: url(../image/bgc-thre.png);
    background-repeat: no-repeat;
}
.bread-crums-container ul{
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 15px; */
}
.bread-crums-container li {
    padding: 15px;
    position: relative;
    color: rgb(150, 150, 150)
}
.bread-crums-container li::after{
    content: '';
    position: absolute;
    top: 42%;
    right: 0;
    width: 10px;
    height: 10px;
    background-color:   var(--light-green);
    border-radius: 50px;
}
.bread-crums-container li:last-child{
    font-weight: 1000;
}
.bread-crums-container li:last-child::after{
    display: none;
}
.title-page-container{
    display: flex;
    justify-content: center;
}
.title-page-container h1{
    position: relative;
    display: flex;
    text-align: center;
}
.title-page-container h1::after{
    position: absolute;
    content: url(../image/Vector-small.svg);
    right: -25px;
    top:5%;
}
.title-page-container h1::before{
    position: absolute;
    content: url(../image/Vector-small.svg);
    left: -25px;
    top:5%;
}
.upper-catalog-info{
    margin: 20px 0;
}
.upper-catalog-info-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.number-item-catalog{
    color:rgb(121, 121, 121) ;
}
.content-catalog-container{
    display: grid;
    grid-template-columns: 25% 75%;
    /* outline: 3px solid black; */
    margin-bottom: 30px;
}
.catalog-list{
    display: flex;
    flex-wrap:wrap;
    justify-content: flex-start;
    gap: 15px;
    margin-left: 5%;
    align-items: flex-end;
}
.catalog-item-list{
    background-color: white;
    padding: 7px;
    width: 250px;
    height: 380px;
    margin-top:0 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition:all ease 0.5s ;
    border-radius: 25px;
}
.catalog-item-list img{
    height: 180px;
    width:140px;
}
.catalog-item-list:hover{
    box-shadow:0px 0px 10px 0px rgba(0,0,0,0.62)
}
.price-name{
    background-color: rgb(255, 236, 236);
    width: 235px;
    border-radius: 20px;
    padding: 15px;
}
.price-name h3{
    font-size: 15px;
}
.price-name p{
    color: var(--green);
}
.price p{
    color: var(--light-green);
}
.amount p{
    font-size: 15px;
    font-weight: 400;
    color:black;
}
.filters{
    display: block;
    border-radius: 15px;
    box-shadow:0px 0px 10px -4px #000000
}
.filters h3{
    background-color: var(--light-green);
    text-align: center;
    padding: 10px;
    border-radius: 15px 15px 0px 0px;
    color: white;
    font-size: 20px;
    font-weight: 600;
}
.title-filter{
    background-color: var(--light-green);
    text-align: center;
    padding: 10px;
    border-radius: 15px 15px 0px 0px;
    color: white;
    font-size: 20px;
    font-weight: 600;
}
.producer{
    margin: 15px;
    border-bottom: 1px solid rgb(187, 187, 187);
}
.producer li{
    padding:  7px 0;
}
.agriculture{
    margin: 15px;
    border-bottom: 1px solid rgb(187, 187, 187);
}
.agriculture li{
    padding:5px 0;
}
.first_select-price{
    position: relative;
    border-radius: 30px ;
    border: 1px solid var(--light-green);
    padding: 10px;
    background-color: white;
}
.button-clear{
    margin: 15px;
}
.all-clear{
    border: none;
    background-color: var(--orange);
    padding: 15px;
    border-radius: 30px;   
    font-size: 15px;
    color: white;
    width: 100%;
    font-weight: 700;
}
.first_select-price-btn{
    cursor: pointer;
    width: 300px;
    height:16px;
    overflow: hidden;
}
.wrap-change-select-price{
    top: 42px;
    left: 2px;
    border-radius: 30px ;
    width:100%;
    font-size: 15px;
    position: absolute;
    display: flex;
    flex-direction: column;
    display: none;
}
.wrap-change-select-price button{
    width:100%;
    border: none;
    padding: 10px;
    border-radius: 30px;
    border: 1px solid var(--light-green);
    background-color: white;
    color: black;
    font-weight: 600;
    margin: 2px  0;
}
.select-price{
    display: flex;
    align-items: center;
}
.Quantity-of-goods{
    color: #000000;
    font-weight: 600;
}
.inner-text-on-change{
    pointer-events: none;
}
.hide{
    display: none;
}
.active{
    display: block;
}
/* .catalog-item-list img{
    display: flex;
    justify-content: center;
    
} */