:root{
    --green:#21603f;
    --light-green:#7cc551;
    --light-brown:#8D3200;
    --orange:#da5a05ee;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
   /* height: auto; */
    background-color: #f3f3f3;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
    text-decoration:none;/*убирает подчеркивание ссылок*/
}
ul{
    list-style: none;
}
main{
    height: auto;
}
.main-header-bar{
    background-color: #2b704c;
    width: 100%;
}
.tiny-container{
    width: 1100px;
    margin: auto;
}
.midl-container{
    width: 1100px;
    margin: auto;
    /* outline: 3px solid green; */
}
.main-navigation-wrapper{
    align-items: center;
    font-size: 18px;
    font-weight: 100;
    display: grid;
    grid-template-columns: 80% 20%;
}
.main-navigation-wrapper a{
    color: white;
}
.site-navigation{
    list-style: none;
    color: white;
    display: flex;
    justify-content: space-between;

}
.user-cabinet-img{
    margin-right: 6px;
}
.user-cabinet{
    display: flex;
    justify-content: end;
    border-left: 1px solid white;
    text-align: start;
    padding:13px 0;
}

.site-navigation li{
    text-align: start;
    padding:13px 10px;
}

/* main */
.row-content-nav{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.about{
    position: relative;
    cursor: pointer;
    padding: 0px;
    width: 100px;
    z-index: 1;
}
.about::after{
    content: url(../image/arrow-down-sign-to-navigate\ \(10\)\ 8.svg);
    top:14px ;
    right: 10px;
    position: absolute;
    pointer-events: none;
}
.row-list-about{
    top: 47px;
    left: 0;
    position: absolute;
    background-color: var(--light-green);
    width: 190%;
    display: none;
}
.Page-info-site{
    padding-top:15px ;
    background-image: url(../image/head-background.png);
    background-repeat: no-repeat;
    background-size:cover;  
    padding-bottom:30px ;
}
.Page-info-site-two{
    padding:15px 0;
}
.search-form form{
    border: 1px solid rgb(212, 212, 212);
    background-color: white;
    display: flex;
    width: 342px;
    padding: 10px;
    padding-left: 15px;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
}
.search-form input{
    border: none;
    height: 20px;
    width: 100%;

}
.search-form input::placeholder{
    color: black;
}
.loupe{
    padding:0 5px 0 10px;
    height:25px ;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid rgb(212, 212, 212);
}
.loupe img{
    cursor: pointer;
}
.contact-info{
    display: flex;
}
.contact-info img{
    border-radius: 50px;
    cursor: pointer;
}
.contact-info-text{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 5px;
}
.dropdown{
    position: relative;
}
.dropdown_button{
    position: relative;
    display: block;
    width: 100%;
    text-align: left;
    border: none;
    background: none;
    height: 25px;
}
.dropdown_button::after{
    content: url(../image/arrow-down-sign-to-navigate\ \(10\)\ 8.svg);
    top:0 ;
    right: 53px;
    position: absolute;
    pointer-events: none;
}
.dropdown_list{
    display: none;
    position: absolute;
    left: 0;
    top:20px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgb(160, 160, 160);
    border-radius: 6px;
    width: 100%;
    background-color: white;
    height: 55px;
    cursor: pointer;
    align-items: center;
}
.dropdown_list-item{
    padding-top:8px;
}
.dropdown_input-hidden{
    display: none;
}
.contact-info-text-form-group a{
    text-decoration:underline;
    color: var(--light-green);
    font-weight: 600;
}
.total-price{
    font-weight: 600;
    /* margin-left:10px ; */
}
.favorite-buy{
    display: flex;
    align-items: center;
}
.favorite-buy ul{
    display: flex;
    align-items: center;
    justify-content:space-between;
    position: relative;
}
.favorite-buy li{
    cursor: pointer;
    padding: 5px;
}
.count-items-buy{
    top:-3px;
    right: -3px;
    background-color: var(--light-green);
    font-weight: 400;
    border-radius: 30px;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 13px;
    position: absolute;
    color: white;
}
.catalog-selection{
    margin-top: 10px;
}
.catalog-selection-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.catalog-selection-list li{
    border: 1px solid var(--green);
    border-radius: 50px;
    height: 40px;
    width:200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
}
.catalog-selection-list a{
    display: flex;
    color: black;
    height: 100%;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding: 0 15px;
}
.catalog-selection-list p{
    margin-left: 6px;
    text-transform: uppercase;
    
}
.catalog-selection-list li:hover{
    background-color:var(--orange);
    border: var(--orange) 1px solid;
    color: white;
}
.catalog-selection-list a:hover{
    color: white;
}
.void-block-info{
    display: flex;
    justify-content: center;
}
.main-info-site-midl-container{
    display: flex;
    margin-top: 60px;
}
.main-info-site{
   padding-left:30px ;
   margin-top:90px;
   font-size: 25px;
   padding-right: 30px;
}
.main-info-site h1{
   position: relative;
}
.main-info-site h1::before{
    content: url(../image/Vector-small.svg);
   position: absolute;
   left: -27px;
   top: 3px;
}
.parahrafH1{
    font-weight: 300;
}
.down-text-main-info-site{
    font-size: 20px;
    color: rgb(136, 136, 136);
    font-weight: 400px;
}
.second-button{
    margin: 30px 0;
    background: var(--orange);
    text-align: center;
    width: 200px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    font-weight: 600;
}
.second-button a{
    color: white;
    width: 100%;
    height: 100%;
    font-size: 20px;
    padding: 13px;

}
.info-site-photo img{
    max-width:650px;
}
.text-info-company{
    margin-top: 20px;
}
.text-info-company_container {
    display: flex;
}
.text-info-company_container img{
    width: 600px;
}
.text-company{
    margin: 40px;
    margin-right: 0;
    margin-top: 0;
    color: rgb(136, 136, 136);
}
.text-company h2{
    color: black;
    margin: 10px;
    margin-left:30px ;
    position: relative;
    font-size: 30px;
}
.text-company h2::before{
    content: url(../image/Vector-small.svg);
    position: absolute;
    top: 4px;
    left: -30px;
}
.text-company p{
    margin-top: 10px;
}
.green-text{
    color: var(--green);
    font-weight: 1000;
}
/* slider */
.slider-range{
    margin-top: 70px;
    background-image: url(../image/bg.png);
    padding: 15px 0;
    background-size: cover;
}
.block-slider{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* outline: 3px solid red; */
}
.header-container-slider{
    overflow: hidden;
    padding: 10px ;
}
.header-slider{
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 25px;
}
.header-slider h2{
    position: relative;
}
.header-slider h2::after{
    position: absolute;
    content: url(../image/Vector-small.svg);
    bottom:0 ;
    right: -30px;
}
.header-slider h2::before{
    position: absolute;
    content: url(../image/Vector-small.svg);
    bottom:0 ;
    left: -30px;
}
.content-slider{
    display: flex;
    gap: 10px;
}
.content-slider-move{
    width: 895px;
    height: 100%;
    position: relative;
    transition:all ease 0.5s ;
}
.content-slider img{
    width: 100px;
    height: 100%;
}
.block-item{
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    padding: 5px;
    transition:all ease 0.5s ;
    position: relative;
}
.block-item a{
    color: black;
}
.block-item::after{
    content:url(../image/scales.svg) ;
    position: absolute;
    right: 20px;
    top:20px;
}
.block-item-top{
    height: 100%;
    margin: 20px 0;
}
.block-item-bottom{
    background-color: rgb(255, 236, 236);
    border-radius: 25px;
    padding: 20px;
    width: 207px;
}
.price-shopping-car{
    margin-top: 15px;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
}
.shopping-car{
    cursor: pointer;
    /* pointer-events: all; */
    background-color: white;
    width: 45px;
    height: 45px;
    box-shadow:0px 0px 15px -4px  rgba(0,0,0,0.82);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}
.car{
    pointer-events: none;
}
.block-item-bottom h3{
    font-size: 16px;
}
.price{
    color: var(--light-green);
    font-weight: 1000;
    font-size: 23px;
}
.wrap-arrow-move{
    border: 2px solid var(--light-green);
    width: 50px;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 100%;
    cursor: pointer;
}
.arrow-move{
    width: 20px;
    height: 20px;
}
.button-slider-list{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 35px;
}
.button-slider{
    background-color: rgb(255, 170, 170);
    border: none;
    height: 15px;
    width: 5px;
    margin: 5px;
    border-radius:50px ;
    transition:all ease 0.5s ;
    margin-top: 10px;
}
.seends-info{
    background-image: url(../image/happy-farmer-in-the-corn-field-2021-08-26-16-22-45-utc\ 1.png);
    background-repeat: no-repeat;
    background-size:cover;  
}
.block-seends-info{
    padding:  70px 0;
    color: rgb(230, 230, 230);
}
.block-seends-info h2{
    color: white;
    font-size: 40px;
    position: relative;
    padding-left: 30px;
}
.block-seends-info h2::before{
    content: url(../image/Vector-small.svg);
    position: absolute;
    left:0;
    top:0;
}
.block-seends-info p{
    margin:20px 0;
    line-height: 20px;
}
/* partners */
.partners{
    margin-top: 15px;
    overflow: hidden; 
    padding-bottom:160px ;
}
.bgc-three{
    background-image: url(../image/bgc-thre.png);
    background-repeat: no-repeat;
}
.block-slider-partnes{
    display: flex;
    align-items: center;
    position: relative;
}
.wrap-arrow-move-partners{
    background-color: var(--light-green);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    box-shadow: -4px 7px 15px -4px #000000;
}
.arrow-move-partners-left{
    left: 0;
}
.arrow-move-partners-right{
    right: 0;
}
.item-block-partners img{
    width: 200px;
    box-shadow: -4px 7px 15px -4px #000000;
    margin: 10px;
    border-radius: 10px;
}
.slider-partners-move{
    display: flex;
    width:100% ;
    padding:0 10px ;
    position: relative;
    left: -30%;
    transition: ease 0.5s;
}
.item-block-partners{
    display: flex;
    /* border: 3px solid black; */
}
/* footer */
.footer{
    position: relative;

}

.footer-container{
    margin-top: 40px;
    display: flex;
 }
.footer-logotype{
    width: 30%;
}   
.navigation-footer {
    display: flex;
    justify-content: space-between;
    width: 70%;
}
.footer-logotype{
    color: rgb(136, 136, 136);
}
.navigation-footer li{
    padding: 10px 0;
    /* outline: 2px solid black; */
} 
 .navigation-footer a{
    color: black;
    font-weight: 600;
    padding-top: 10px;
} 
.line{
    border-top:rgb(214, 214, 214) 3px solid ;
    display: flex;
    justify-content: center;
    color: rgb(190, 190, 190);
    padding: 10px;
    font-weight: 100;
    position: relative;
}
.arrow-move-headder{
    position: absolute;
    background-color: var(--light-green);
    bottom: 0;
    height: 100px;
    right: 80px;
    padding: 10px;
    padding-top: 20px;
    border-radius: 50px 50px 0 0;
    cursor: pointer;
}


/* modal */
.modal-login{
    z-index: 9;
    position: fixed;
    top: 10%;
    left: 20%;
    width: 900px;
    height: 500px;
    background: white;
    display: none;
}
.modal-login img{
    height: 500px;
    width: 500px; 
}
.login-form{
    padding: 20px;
    height: 100%;
    width: 100%; 
}
.login-form h2{
    font-size: 27px;

    margin-top: 15px;
}
.login-form form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
} 
.form-input{
    display: flex;
    flex-direction: column;
    font-size: 15px;
}
.form-input input{
    margin:10px 0 15px 0;
    padding: 15px;
    border-radius: 0;
    border: 1px solid black;

}
.form-input input:focus{
    outline: 1px solid black;
}
.login-link{
    cursor: pointer;
}
#login-checkbox{
    margin-right: 10px;
    cursor: pointer;
}
.button-action{
    background-color: var(--orange);
    border: none;
    border-radius: 50px;
    padding: 15px;
    color: white;
    font-weight: 1000;
}
.link-error{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}
.link-error a{
    color: black;
    font-weight: 600;
}
.modal-basket{
    position: fixed;
    top: 10%;
    left: 25%;
    right: 25%;
    bottom: 25%;
    background-color: white;
    border-radius: 25px;
    padding: 20px;
    height: 500px;
    display: none;
    z-index: 7;
}
.name-basket{
    display: flex;
    justify-content: center;
}
.name-basket h2{
    position: relative;
}
.name-basket h2::after{
    content: url(../image/Vector-small.svg);
    position: absolute;
    left:-30px;
    top:3px;
}
.name-basket h2::before{
    content: url(../image/Vector-small.svg);
    position: absolute;
    right:-30px;
    top:3px;
}
.content-basket{
    margin-top: 10px;
    border: 1px solid var(--green);
    border-radius:25px ;
    height: 80%;
    padding: 15px;
    overflow-y: scroll;
    border-right: none;
}
.item-list-basket{
    padding: 10px;
    border-radius: 20px;
    border: 1px solid rgb(196, 196, 196);
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.img-item_basket{
    display: flex;
    color: rgb(85, 85, 85);
}
.img-item_basket img{
    height: 100px;
}
.info-item-basket {
    margin: 5px;
}
.info-item-basket{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.inner-item_basket{
    display: flex;
    margin-right: 10px;
}
.counter-item-list p{    
    width: 30px;
    padding: 5px;
    height: 30px;
    text-align: center;
    border: var(--light-green) 2px solid;
    background-color: white;
    border-radius: 5px;
}
.inner-item_basket button{
    font-weight:700;
    height: 30px;
    width: 25px;
    border: var(--light-green) 2px solid;
    border-radius: 5px;
    background-color: white;
}
.counter-item-list{
    display: flex;
    margin-right: 10px;
    align-items: center;
}
.final-price_item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.final-price_item p{
    margin-top: 10px;
}
.btn_delete{
    position: absolute;
    cursor: pointer;
    right: 10px;
    top: 10px;
    border-radius: 5px;
    width: 20px;
}
.count_price-buy{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    
}
.order{
    background: var(--orange);
    text-align: center;
    width: 200px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    font-weight: 600;
    border: none;
    color: white;
    padding: 10px;
    display: none;
}
.close-img{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    cursor: pointer;
}
.wraper-text-list-basket{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    font-size: 30px;
}
.bread-crums-container ul{
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 15px; */
}
.bread-crums-container li {
    padding: 15px;
    position: relative;
    color: rgb(150, 150, 150)
}
.bread-crums-container li::after{
    content: '';
    position: absolute;
    top: 42%;
    right: 0;
    width: 10px;
    height: 10px;
    background-color:   var(--light-green);
    border-radius: 50px;
}
.bread-crums-container li:last-child{
    font-weight: 1000;
}
.bread-crums-container li:last-child::after{
    display: none;
}

/* каталог блоки  */

.catalog-item-list{
    background-color: white;
    padding: 7px;
    width: 217px;
    height: 380px;
    margin-top:0 ;
    /* margin: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition:all ease 0.5s ;
    border-radius: 25px;
    /* outline: 3px solid red; */
}
.catalog-item-list img{
    height: 180px;
    width:140px;
}
.price-name{
    background-color: rgb(255, 236, 236);
    width: 200px;
    border-radius: 20px;
    padding: 15px;
}
.price-name h3{
    font-size: 15px;
}
.price-name p{
    color: var(--green);
}
.price p{
    color: var(--light-green);
}
.amount p{
    font-size: 15px;
    font-weight: 400;
    color:black;
}
.alert{
     position: fixed;
     bottom: 0;
     right: 0;
     background-color:var(--orange);
     color: white;
     padding: 10px;
     font-weight: 100;
     margin: 20px;
     border-radius: 10px;
     display: none;
}
/* background */
.bgc{
    background-color:black ;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0.8;
    display: none;
    z-index: 6;
}


.button-slider-item-active{
    background-color:var(--light-brown);
    height: 30px;
    transition: ease 0.5s;
}
.activesvg path{
    fill: white;
}
.active{
    display: block;
}
.active-modal{
    display: flex;
}
.hide{
    display: none;
}
