.phone-nav_active_body{
    overflow: hidden;
}
.main-header-bar{
    position: relative;
}
.burger-menu_phone{
    display: none;
}
.phone-nav{
    display: none;
    background-color: var(--green);
    z-index: 5;
    width: 100%;
    height: 100vh;
    overflow: scroll;
    transform: translateX(-100%);
    transition:transform 0.5s; 
    font-size: 20px;
    position: absolute;
}
.phone-nav a{
    color: white;
    padding: 10px;
    width: 100%;
    text-align: center;
}
.site-navigation-phone{
    display: flex;
    flex-direction: column;
}
.site-navigation-phone li{
    padding: 5px;
    display: flex;
    justify-content: center;
}
.site-navigation-phone li:hover{
    background-color: var(--light-green);
}
.top_content_pagge-phone{
    display: none;
    margin-bottom: 15px;
    align-items: center;
}

.catalog-selection-phone{
    display: none;
}
.button-catalog-selection-phone{
    background-color:var(--green) ;
    padding: 10px;
    border-radius: 50px;
    color: white;
    position: relative;
    cursor: pointer;
    border: var(--light-green) 3px solid ;
}
.button-catalog-selection-phone::after{
    content: url(../image/arrow-down-sign-to-navigate\ \(10\)\ 8.svg);
    top:10px;
    right: 20px;
    position: absolute;
    pointer-events: none;
}
.catalog-selection-list-phone{
    z-index: 2;
    position: absolute;
    width: 90%;
    display: none;
    
}
.catalog-selection-list-phone li{
    display: flex;
    margin:10px 25px;
    background-color:var(--orange);
    border-radius: 50px;
    width: 100%;
}
.catalog-selection-list-phone a{
    border-radius: 50px;
    display: flex;
    width: 100%;
    height: 40px;
    background-color:var(--green);
    padding: 6px;
    padding-left: 20px;
    align-items: center;
    color: white;
}
.catalog-selection-list-phone p{
    margin-left:10px ;
    font-weight: 600px;
}
.filtr-btn{
    display: none;
    margin-right: 12px;
    border: none;
    background: var(--light-green);
    color: white;
    padding: 10px;
    border-radius: 30px;
    font-weight: 600;
}
.filters-phone {
    /* display: none; */
    position: fixed;
    overflow:  scroll;
    background-color: white;
    top: 0;
    border-radius:0px 15px 0px 0px;
    width: 300px;
    height: 100vh;
    z-index: 7;
    transform: translateX(-100%);
    transition:transform 0.5s; 
}
.filters-phone h3{
    border-radius:0px 15px 0px 0px;

}
.active{
    display: block;
}
.phone-nav_active{
    transform: translateX(0);
}

@media (max-width:1100px){
    .tiny-container{
        width: 100%;
        margin: auto;
        padding: 0 10px;
    }
    .midl-container{
        width: 100%;
        padding: 0 30px;
    }
    .main-info-site{
        padding-left:27px ;
        padding-right:10px;
     }
     .top_content_pagge-phone{
        display: flex;
        justify-content: space-between;
    }
    
    .main-navigation-wrapper{
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
    }
    .site-navigation{
        display: none;
    }
    .user-cabinet{
        border: none;
    }
    .phone-nav{
        display: block; 
    }
    .burger-menu_phone{
        display: block;
        cursor: pointer;
    }
    .main-info-site-midl-container{
        display: flex;
        flex-direction:column;
        margin-left:0px ;
        align-items: center;
    }
    .void-block-info{
        display: flex;
        justify-content: center;
    }
    .row-content-nav{
        display: none;
    }
    .catalog-selection{
        display: none;
    }
    .catalog-selection-phone{
        display: block;
    }
    .text-info-company_container {
        flex-direction: column-reverse;
    }
    .foto-info-company{
        display: flex;
        justify-content: center;
    }
    .text-company{
        margin: 0;
    }
    .wrap-arrow-move{
        margin: 0 10px;
    }
    .arrow-move-headder{
        right: 10px;
    }
    .img-login{
        display: none;
    }
    .modal-login{
        width: 500px;
        right: 10px;
        bottom: 10px;
    }
    .count-items-buy{
        right: 40px;
    }
    .modal-basket{
        width: 650px;
        left: 15%;
    }
    .catalog-list{
        /* margin-left: 5px; */
        /* gap: 10px; */
        display: flex;
        justify-content: center
    }

}
@media (max-width:800px) {
    .modal-basket{
        left: 5%;
    }
    .catalog-list{
        margin-left: 2%;
    }
    .filters{
        width: 182px;
    }
    .content-cart-container{
        display: flex;
        flex-direction: column;
    }
    .img-content-card-main{
        width: 444px;
        margin: auto;
        margin-bottom: 30px;
    }
    .active{
        display: block;
    }
}
@media (max-width:650px){
    .info-site-photo img{
        width: 400px;
     }
     .wrap-arrow-move{
        display: none;
     }
     .header-container-slider{
        padding-left: 30px ;
    }
    .text-info-company_container img{
        width: 400px;
    }
    .footer-container{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .navigation-footer {
        display: flex;
        flex-direction: column;
    }
    .footer-logotype{
        width: 100%;
        margin-bottom: 10px;
    }
    .modal-login{
        width: 350px;
        left: 10%;
        bottom: 10px;
    }
    .modal-basket{
        width: 400px;
        left: 10%;
    }
    .search-form{
        display: none;
    }

    .content-catalog-container{
        display: flex;
    }
    .filtr-btn{
        display: block;
    }
    .content-catalog-container{
        display: flex;
        flex-direction: column;
    }
    .first_select-price-btn{
        cursor: pointer;
        width: 150px;
    }
    .filters{
        display: none;
    }
    .active{
        display: block;
    }
}
@media (max-width:420px) {
    .tiny-container{
        width: 320px;
        margin: auto;
    }
    .midl-container{
        width: 320px;
    }
    .info-site-photo{
        display: none;
    }
    .favorite-buy-phone ul{ 
        width: 150px;
    }
    .logo-phone img{
        width: 110px;
    }
    .catalog-selection-list-phone li{
        width: 250px;
    }
    .foto-info-company img{
        width: 250px;
    }
    .arrow-move-headder{
        right: 30px;
    }
    .modal-login{
        width: 250px;
        height: 500px;
        left: 15%;
    }
    .count-items-buy{
        right: -5px;
    }
    .modal-basket{
        width: 400px;
        left: 2%;
        top: 2%;
        height: 100%;
    }
    .inner-item_basket{
        display: flex;
        flex-direction: column;
    }
    .final-price_item{
        display: none;
    }
    .number-item-catalog{
        margin-top: 20px;
        order: 2;
    }
    .upper-catalog-info-container{
        display: flex;
        flex-direction: column;
    }
    .count-items-buy{
        right: 47px;
    }
    .active{
        display: none;
    }
}