@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@font-face{
    font-family: 'Circe Rounded light';
    src: url('../fonts/CirceRounded/CirceRounded-ExtraLight.woff2') format('woff2'),
}
@font-face{
    font-family: 'Circe Rounded regular';
    src: url('../fonts/CirceRounded/CirceRounded-Regular.woff2') format('woff2'),
}
html{
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
    // margin: 0
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    margin: 0;
    background-color: #faf8f2;
}
h2{
    font-family: 'Circe Rounded regular';
}
h3{
    font-family: 'Circe Rounded regular';
}
h4{
    font-family: 'Circe Rounded regular';
}
h5{
    font-family: 'Circe Rounded regular';
}
.overlay {
    position: fixed;
    right: 0; 
    top: 0; 
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.7;
    z-index: 5;
    display: none;
}
.block-page{
    overflow: hidden;
}
.container{
    width: 1250px;
    margin: auto;
}
.section-aside{
    border-bottom: 1px solid #F4F0E6;
}
.container-aside{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    font-family: 'roboto';
}
.header-city_navigatoin{
    display: flex;
    div{
        display: flex;
        margin: 0 20px 0px 0px;
    }
    img{
        width: 30px;
        }
}
.navigation_aside{
    display: flex;
    align-items: center;
    ul{
        display: flex;
        padding: 0;
        align-items: center;
        li{
            padding: 0 5px;
            cursor: pointer;
        }
    }
}
.setion-features{
    border-bottom: 1px solid #F4F0E6;
    height: 110px;
}
.feature{
    padding: 0;
    display: flex;
    align-items: center;
    border-right:1px solid #F4F0E6;
    height: 100%;
    li{
        color:#808080 ;
        display: flex;
        align-items: center;
        width: 160px;
        font-size: 15px;
        img{
            width: 30px;
            margin: 0 10px;
        }
    }
}
.link-login{
    display: flex;
    img{
    width: 30px;
    }
    button{
    border: none;
    background: transparent;
    font-size: 15px;
    cursor: pointer;
    }
}
.features-wraper{
    padding: 5px 0;
    display: flex;
    align-items: center;
    font-family: 'roboto';
}
.contact-social{
    display: flex;
    align-items: center;
    padding-right: 10px ;
    border-right:1px solid #F4F0E6;
}
.messenger{
    display: flex;
    padding: 0;
    height: 35px;
    padding: 15px;
    align-items: center;
    li{
        margin-right: 5px;
    }
    img{
        width: 30px;
    }
}
.number_phone{
    width: 100%;
    p{
        margin:4px;
    }
    button{
        display: flex;
        background:transparent ;
        align-items: center;
        justify-content: center;
        border:#FD9339 1px solid ;
        padding: 6px;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
        // height: 20px;
    }
    img{
        width:20px ;
    }
}
.logo{
    margin-right: 5px;
    display: flex;

    a{
        display: flex;
        align-items: center;
    }
}
.logo-cheace{
    width: 30px;
    // margin-right: 10px;
}
.basket-link{
    position: relative;
    width: 190px;
    margin-left:20px ;
    display: flex;
    justify-content: end;   
    align-items: center;
    height: 67px;
    img{
        cursor: pointer;
        margin: 0;
        width: 60px;
    }
}
.count-price{
    align-items: center;
    display: flex;

}
.count{
    color: #FD9339;
    font-weight: 700;
    text-align: end;
}
.section-navigation{
    font-family: 'roboto';
    font-size: 15px;
    border-bottom: 1px solid #F4F0E6;
}
.main-nav{
    ul{
        padding: 0;
        display: flex;
        li{
            padding-right:20px ;
            a{
                color: black;
            }
        }
    }
}
.button{
    font-family: 'Circe Rounded light';
    background-color: #FD9339;
    padding: 10px;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
}
.section-recommendations{
    margin: 20px 0px;
}
.container-recommendations{
    display: grid;
    grid-template-columns: 54% 23% 23%;
    gap: 3px;
    font-family: 'Circe Rounded light';
    min-height: 300px;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
    h2{
        font-size: 30px;
        margin: 5px;
    }
    p{
        font-size: 20px
    }
}
.cheese_making-box{
    background-image: url(../images/imagecheese_making.png);
    padding: 10px;
    height: 100%;
    a{
        color: white;
    }
}   
.wraper-link_cheese_making{
    margin-top: 120px;
}
.recepy-box{
    padding: 10px;
    background-image: url(../images/imageRecepy.png);
    background-repeat:no-repeat ;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    p{
        color: #FD9339;
        margin: 5px;
    }
}
.sales-box{
    padding: 10px;
    background-image: url(../images/imageSales.png);
    background-repeat:no-repeat ;
    display: flex;
    flex-direction: column;
    justify-content: end;
    p{
        color: #FD9339;
        margin: 5px;
    }
}
.section-features{
    background-color: #FBE8BB;
    margin: 40px 0;
}
.container-features{
    display: flex;
    justify-content: space-around;
    padding:30px 0;
}
.features-title{
    h2{
        font-size: 70px; 
        margin: 0;
    }
    p{
        font-family: 'Circe Rounded light';
        font-weight: 600;
    }
}
img{
    width: 100%;
}
.wrap-features{
    position: relative;
}
.ball-item{
    border-radius: 50%;
    color: white;
    background-color: #E78634;
    box-shadow: 0px 0px 10px 0px #FD9339;
    position: absolute;
    width: 30px ;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 1000;
    cursor: pointer;
    
}
.inner-text_ball{
    display: none;  
    // display: flex;
    position: absolute;
    background-color: white;
    pointer-events: none;   
    top:-70px;
    left: -250px;
    width: 250px;
    height: 80px;
    border-radius:10px;
    padding: 10px;
    color: black;
    font-family: 'Circe Rounded light';
    border: 1px solid #FD9339;
    img{
        width: 20px;
        margin: 10px;
    }
    }
.award-wraper{
    top: 260px;
    left: 160px;    
}
.percent-wraper{
    bottom: 60px;
    left: 60px;    
}
.clock-wraper{
    top: 180px;
    left: 400px;      
}
.dolar-wraper{
    top: 380px;
    left: 400px;      
}
.like-wraper{
    top: 290px;
    left: 600px;      
}
.selection{
    margin: 20px 0;
}
.container-selection{
    h2{
        font-size: 30px;
        color: #4E2D2D;
    }
    h3{
        text-transform: uppercase;

        font-size: 30px
    }
}
.selection-box{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    height: 100%;
    p{
        font-family: 'Circe Rounded light';
        font-weight: 600;
    }
}
.wraper-button_selection-box{
    margin-top: 150px;
}
.recipes{
    background-color:#D8D8D8 ;
    padding: 10px 20px;
    color: #4E2D2D;
    border-radius: 5px;
    width: 100%;
    height: 350px;
    position: relative;
}
.text-selection-box{
    z-index: 2;
}
.img-recipes{
    position: absolute;
    width: 380px;
    bottom: -10px;
    right: 0;
    z-index: 1;
}
.sets{
    padding: 10px 20px;
    background-color: #4E2D2D;
    color: white;
    width: 100%;
    height: 350px;
    position: relative;
    border-radius: 5px;
}
.img-set{
    position: absolute;
    width: 380px;
    bottom: 10px;
    right: 0;
    z-index: 1;
}
.equipment{
    margin: 10px 0;
}
.section-equipment{
    margin: 20px 0;
}
.container-equipment{
    background-color: #FEE9A5;
    padding: 60px;
    position: relative;
    height: 350px;

    p{
        font-family: 'Circe Rounded light';
        font-size: 17px;
        font-weight: 600;
        z-index: 10;
    }
    h2{
        text-transform: uppercase;
        font-size: 30px
    }
    img{
        position: absolute;
    }
}
.press-in_cheace{
    bottom: 0;
    right: 0;
    width: 400px;
}
.press-in_cheasebig{
    bottom: 0;
    right: 0;
    top:0;
    width: 540px;
}
.press-in_cheasebigOp{
    top: 0;
    right: 250px;
    width: 400px;
}
.wraper-button_equipment{
    margin-top: 50px;
}
.section-article{
    margin: 10px 0;
}
.container-article{
    display: grid;
    grid-template-areas: 
    "article chease_plate cheace_hole"
    "article diet chease_head"; 
    gap:10px;
    .link_next{
        color: #FD9339;
        font-family: 'Circe Rounded light';
        text-decoration: underline;
        font-weight: 600;
    }
    p{
        font-family: 'Circe Rounded light';
        font-size: 17px;
        font-weight: 600;
    }
}
.article{
    grid-area: article;
    background-color: #FEE9A5;
    padding: 20px;
    border-radius: 5px;
}
.text_artticle{
    height: 90%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.box-article{
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    border: 2px solid #E7E7E7;
}
.section-last-view{
    margin: 40px 0;
}
.container-last-view{
    overflow: hidden;
    
}
.header-slider{
    display: flex;
    align-items: center;
    justify-content: space-between;
    h2{      
        color: #4E2D2D;
    }
}
.btn-slider{
    img{
        cursor: pointer;
        max-width: 30px;
        margin: 0 5px;
        padding: 10px;
    }
}
.slider-line{
    display: flex;
    column-gap: 9px;
    transition: 0.4s  ease;
    transform: translate(0px);
    width: 100%;
    padding: 0;
}
.empty-last_wiev{
    margin: auto;
    display: flex;
    flex-direction: column;
    h2{
        font-family: 'Circe Rounded light';
    }
    a{
        text-align: center;
    }
}
.card{
    // outline: 3px solid black;
    border: 1px solid #E7E7E7;
    padding: 10px;
    background-color: white;
    width: 200px;
    height: 300px;
    border-radius: 10px;
    align-items: center;
    font-family: 'Circe Rounded light';
    font-weight: 1000;
    img{
        width: 180px;
    }
    a{
        color: black;
    }
}
.price-card{
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s ease;
    button{
        &:active{
            color: black;
            font-weight: 1000;
            background-color: #ffc18b;
            transition: 0.1s ease;
            box-shadow: 0px 0px 10px 0px black;
        }
    }
}
.footer{
    padding-top:10px ;
}
.page-footer{
    background-color: white;
    ul{
        padding: 0;
    }
    li{
        font-family: 'Circe Rounded light';
        font-weight: 1000;
    }
}
.container-footer{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    nav{
        display: flex;
        div{
            margin: 0 20px;
        }
        li{
            padding: 10px 0;
        }
    }
}

.logo-text{
    width: 200px; 
}
.logo-cheace{
    width: 40px;
    transform: rotate(-15deg);
    z-index: 1;
}
.pay{
    ul{
        display: flex;
        li{
            padding: 0 5px;
        }
    }
    img{
        width: 30px;
    }
}
.footer-city_navigatoin{
    // display: flex;
    div{
        display: flex;
        p{
            margin: 5px 0;
        }
    }
    img{
        width: 20px;
    }    
    h3{
        color: #4E2D2D;
    }
    p{
        font-family: 'Circe Rounded light';
        font-weight: 1000;
    }
}
.modal-basket{
    display: none;
    position: absolute;
    top: 130px;
    right: 30px;
    background-color: white;
    border: 1px solid #D8D8D8;
    width: 460px;
    height: 577px;
    z-index: 3;
    border-radius: 5px;
    h2{
        font-family:'Circe Rounded regular' ;
        padding: 10px 20px;
        border-bottom: 1px solid #E7E7E7;
    }
}
.basket_cards{
    margin-bottom: 0;
    overflow-y:scroll ;
    height: 65%;
    padding: 20px;
    li{
        border-bottom: #D8D8D8 1px solid;
        display: flex;
        align-items: center;
    }
    img{
        width: 95px;
        height: 95px;
        border: 1px solid #E7E7E7;
    }
}
.basket_empty{
    // height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #808080;
    border: none;
    // display: none;
}
.change-card_basket{
    margin-left:20px ;
    width: 100%;
    h3{
        margin: 0;
        padding: 0;
        // outline: 3px solid red;
        font-family: 'Circe Rounded regular' ;
        width: 80%;
    }
    img{
        width: 35px;
        height: 35px;
        cursor: pointer;
    }
}
.info-title{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.wraper-btn_count_basket{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Circe Rounded light';
    font-weight: 1000;
    h4{
        font-family: 'Circe Rounded regular' ;
    }
    div{
        display: flex;
        align-items: center;
        p{
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            // outline: 3px solid red;
            border: 1px solid rgba(128, 128, 128, 0.2)
        }
    }
}
.btn-busket{
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    // outline: 3px solid red;
    border: 1px solid rgba(128, 128, 128, 0.2);
    background: transparent;
}
.full-basket{
    display: none;
    padding: 10px;
    h4{
        font-family: 'Circe Rounded regular' ;
        margin: 5px 0;
    }
}
.btn-wraper_order{
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #FD9339;
    border-radius: 10px;
}
.absolute-count-basket{
    position: absolute;
    top:5px;
    right: -5px;
    height: 20px;
    width: 20px;
    background-color: #E78634;
    color: white;
    font-family: 'Circe Rounded regular' ;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:10px;
    border-radius: 50%;
}
.notification-add-goods{
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #FD9339;
    color: #4E2D2D;
    font-family: 'Circe Rounded regular' ;
    padding: 10px;
    border-radius: 10px;
    h2{
        // padding: 0;
        margin: 0;
    }
}
.scroll-btn{
    position: fixed;
    width: 30px;
    height: 30px;
    bottom: 80px;
    right: 20px;
    background-color: #E78634;
    border-radius:50px ;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0;
    transition: 0.5s ease;
    transform: scaleX(10%);
}
.swipe-up{
    border-right: 3px solid rgb(255, 255, 255);
    border-top: 3px solid rgb(255, 255, 255);
    transform: rotate(-45deg);
    height: 15px;
    width: 15px;
}
.link-card{
    img{
        pointer-events: none;
    }
    p{
        pointer-events: none;
    }
}
.modal{
    // display: none;
    position: absolute;
    top: 50px;
    right: 33%;
    width: 380px;
    height: 430px;
    background-color: white;
    padding: 20px 30px;
    z-index: 5;
    font-family: 'roboto';
    border-radius: 10px;
    input{
        margin-bottom: 10px;
    }
    h2{
        margin: 0;
        border-bottom: 1px solid #BFBFBF;
    }
}
.modal-login{
    display: none;
}
.modal-registration{
    top:10px;
    display: none;
    height: 630px;
}
.form-modal{
    display: flex;
    flex-direction: column;
    label{
        margin: 5px 0;
        display: flex;
        justify-content: space-between;
        // flex-direction: column;
        font-family: 'Circe Rounded regular' ;
        font-weight: 500;
    }
    button{
        font-weight: 1000;
        font-size: 16px;
        &:active{
            box-shadow: 0px 0px 5px 0px black;
        }
    }
}
.modal-input{
    
    font-family: 'roboto';
    padding: 15px ;
    outline: none;
    border: 1px solid #BFBFBF;
    border-radius: 10px;
    &:hover{
    outline: none;
    }
    &::placeholder{
        color:#BFBFBF ;
    }
}
.restoration-password{
    margin-top: 40px;
    font-size: 14px;
    text-align: center;
    a{
        color: #E78634;
        display: flex;
        justify-content: center;
    }
}
.checbox_modal-registration{
    display: flex;
    align-items: top;
    position: relative;
    // outline: 3px solid black;
    label{
        display: flex;
        flex-direction: column;
    }
    a{
        color: #E78634;
        width: 100%;
    }
}
.checbox_modal-registration{
    input[type="checkbox"] {
        opacity: 0;
    }
    input[type="checkbox"]~label::before{
        content: '';
        font-size: 10px;
        top:5px;
        left: 0px;
        position: absolute;
        text-align: center;
        color:white;
        line-height: 10px;
        width: 15px;
        height: 15px;
        border: 1px solid #000;
        border-radius: 0.25em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    input[type="checkbox"]:checked ~ label::before {
        color: #E78634;
        border: 1px solid #E78634;
        content: url(../images/VectorCheckbox.svg);
      }
}
.alert{
    display: none;
    color: red;
}
// .overlay{

// }
.active-scroll-btn{
    opacity: 1;
    transform: scaleX(100%);
}
.hide{
    display: none;
}
.active-ball{
    display: flex;
}
.active{
    display: block;
}
.active-flex{
    display: flex;
}
